body {
  background: linear-gradient(180deg, $starship, $green-yellow);
}

.container {
}

a {
  text-decoration: none;
  color: $g19;
}

button {
  appearance: none;
  border: none;
  box-shadow: none;
  height: 1.5rem;
  border-radius: 1rem;
}
