body {
  background: $biscay;
}

a,
Link {
  text-decoration: none;
  color: $g14;
}

button {
  appearance: none;
  border: none;
  box-shadow: none;
  height: 1.5rem;
}

h1 {
  color: $g9;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1.0rem;
}
