@import 'https://fontlibrary.org/face/8bit-wonder';

.container {
  /* font-family: 'Raleway', sans-serif; */
  font-family: '8BITWONDERNominal', monospace;
}

header,
footer,
nav {
  font-family: '8BITWONDERNominal', monospace;

  /* & div {
    letter-spacing: 1.5rem;
    &::first-letter {
      padding-left: 2.5rem;
    }
  } */
}

nav {
  &:not(.footerActive) {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
  }
}
