.mainBlock {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10vh;
  & > div {
    background: url('../../images/sample-sprites.png');
    width: 150px;
    height: 198px;
    animation: walking 0.3s steps(4) infinite;
  }
}

@keyframes walking {
  to { background-position: 600px; }
  from { background-position: 0; }
}

/* .mainBlock {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  & > div {
    background: url('../../images/bench-sprites.png');
    width: 453px;
    height: 300px;
    animation: benching 0.3s steps(3) infinite;
  }
}

@keyframes benching {
  to { background-position: 1360px; }
  from { background-position: 0; }
}
 */