main {
  border-left: 0.8vh solid $azure-radiance;
  & > section {
    border-radius: 1rem;
    background: linear-gradient(180deg, $azure-radiance-a, $green-yellow-a);
  }
}

h1 {
  cursor: pointer;
  transition: all 0.3s;
  color: $blue-ribbon;
  font-size: 5vh;
  text-decoration: underline;
  margin: 3vh 0;

  &:hover {
    color: $governor-bay;
  }
}
