main {
  border-left: $border-thick;
  & > section {
    border-radius: 1rem;
    background: linear-gradient(180deg, $azure-radiance-a, $green-yellow);
  }
}

h1 {
  transition: all 0.3s;
  color: $blue-ribbon;
  font-size: 5vh;
  text-decoration: underline;
  margin: 3vh 0;

  &:hover {
    color: $electric-violet;
  }
}
