.container {
  width: 95%;
  margin: 5vh auto;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.headerBlock {
  height: 92.5vh;
  flex: 0 0 100%;
  margin-bottom: 5vh;
}

.mainBlock {
  order: 2;
  flex: 0 0 100%;
  height: 100vh;
  margin: 5vh auto;

  & + nav {
    order: 4;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90vh;
  margin-bottom: 5vh;
  flex: 0 0 100%;

  &.stickyActive {
    position: fixed;
    border: none;
    height: 8vh;
    top: 0;
    right: 4.25vh;

    padding-bottom: 0.5vh;
    padding-right: 0.5vh;
    padding-left: 1vh;
  }
}

main {
  order: 2;
  height: 100vh;
  width: 145vh;
  display: flex;
  justify-content: center;
  & section {
    width: 133vh;
  }
}

nav {
  order: 3;
  text-align: right;
  width: 20.5vh;

  &.stickyActive {
    position: fixed;
    top: 9vh;
    right: 4.25vh;
  }

  &.footerActive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 94.75%;

    & ul {
      align-self: center;
    }

    & ul li {
      display: inline-block;
      padding-left: 1rem;
    }
  }
}

footer {
  order: 4;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 5vh;
  height: 90vh;
  /* padding-bottom: 5vh; */
  /* height: 85vh; */
  flex: 0 0 100%;
}

.aboutUs {
  /* background: green; */
  order: 4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  & > div {
    /* background: deepskyblue; */
    display: flex;
    justify-content: center;
    & > * {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      height: 65vh;

    }
  }
  & img {
    align-self: center;
    width: 35vh;
    height: auto;
    & + p {
      /* background: blue; */
      width: 35vh;
      height: 17.5vh;
      text-align: left;
      line-height: 2.75vh;
      padding-top: 1vh;
      overflow: hidden;

    }
  }

  & span {
    display: flex;
    align-items: flex-end;
    /* background: orange; */
    height: 4vh;
    padding-bottom: 2vh;
  }
}
