header {
  transition: all 0.3s;

  border-top: $border-thin;
  border-bottom: $border-thin;
  font-size: 4.5rem;
  font-weight: 800;
  
  & div {
    color: $g4;
  }

  &.stickyActive div {
    color: $g8;
    /* background: $g4; */
  }
}

