nav {
  font-size: 1.5rem;
  background: $g19;
}

.notActive a {
  &:visited {
    color: $g14;
  }
  &:hover {
    color: $g7;
  }
}

.active a {
  &:visited {
    color: $g2;
  }
  &:hover {
    color: $g7;
  }
}

.signOut {
  background: transparent;
}