nav {
  background: $screaming-green;
  transition: all 0.3s;
  padding-right: 0.5rem;
  border-right: $border-thick;

  font-size: 1.5rem;

  & li {
    padding-top: 0.3rem;
  }

  &.footerActive {
    border: none;
  }
}

.notActive a {
  &:visited {
    color: $g19;
  }
  &:hover {
    text-decoration: underline;
    padding-right: 0.3rem;
  }
}

.active a {
  &:visited {
    color: $scarlet;
  }
  &:hover {
    text-decoration: underline;
    padding-right: 0.2rem;
  }
}

.signOut {
  background: transparent;
}
