nav {
  transition: all 0.3s;

  font-size: 1.5rem;
  /* background: $g19; */
}

.notActive a {
  transition: all 0.3s;

  &:visited {
    color: $g14;
  }
  &:hover {
    color: $g7;
  }
}

.active a {
  transition: all 0.3s;

  &:visited {
    color: $g2;
  }
  &:hover {
    color: $g7;
  }
}

.signOut {
  background: transparent;
}