.updateProgress {
  text-align: center;
}

.scrollBar {
  text-align: center;
}

.sliderParent {
  display: flex;
  align-items: center;
  position: relative;
}

.sliderChild {
  overflow: hidden;
  position: relative;
  margin: auto;
}

.sliderPhoto {
  position: absolute;
  max-height: 800px;
  max-width: 800px;
}
