.progress {
  & button { /* update, previous, and next buttons */
    transition: all 0.3s;
    font-family: '8BITWONDERNominal', monospace;
    background: transparent;
    cursor: pointer;
    outline: none;
    &[type="submit"] { /* update button */
      font-size: 2vh;
      margin-top: 1.5vh;
      color: $g17;
      &:hover {
        color: $azure-radiance;
      }
    }
  }
  & input { /* scrollbar */
    margin-top: 0.5vh;
    width: 25vh;
  }
}

.sliderParent {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}

.sliderChild {
  transition: all 0.3s;
  cursor: pointer;
  border: 0.5vh solid $azure-radiance;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  margin: auto;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.sliderPhoto {
  position: absolute;
  width: 100%;
  max-height: 600px;
}
