form {
  color: $stratos;
  font-weight: 300;
}

.inputFile,
.uploadSubmit {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  & + label {
    transition: all 0.3s;

    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: $g0;
    border-radius: 0.25rem;
    padding: 1vh 1vh 1.25vh 1vh;
    margin-top: 1vh;
    display: inline-block;

    &:hover {
      background: $g15;
    }
  }
}

.selected {
  color: $pink-flamingo;
  margin-top: 2vh;
  
  & img {
    max-height: 85vh;
    margin-top: 2vh;
    border-radius: 1rem;
  }
}
