:root {
  --center: {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
}

.update {
  text-align: center;
}

.heading {
  @apply --center;
  padding: 20px;
}

.scrollBar {
  @apply --center;
}

.parent {
  display: flex;
  align-items: center;
  height: 800px;
  position: relative;
}

.child {
  overflow: hidden;
  position: relative;
  margin: auto;
}

.photo {
  position: absolute;
}
