$g0:  #fff;
$g1:  #fafafa;
$g2:  #f6f6f6;
$g3:  #f1f1f1;
$g4:  #ededed;
$g5:  #e9e9e9;
$g6:  #e4e4e4;
$g7:  #e0e0e0;
$g8:  #dbdbdb;
$g9:  #d7d7d7;
$g10: #d3d3d3;
$g11: #bdbdbd;
$g12: #a8a8a8;
$g13: #939393;
$g14: #7e7e7e;
$g15: #696969;
$g16: #545454;
$g17: #3f3f3f;
$g18: #2a2a2a;
$g19: #151515;

$hacienda: #9b8817;
$starship: #e8f541;
$starship-a: rgba(232, 245, 65, 0.5);

$screaming-green: #59ff35;
$screaming-green-a: rgba(89, 255, 53, 0.5);

$biscay: #183059;
$downriver: #0d2959;

$azure-radiance: #0f7bf8;
$azure-radiance-a: rgba(15, 123, 248, 0.5);

$malibu: #7c90fb;
$blue-ribbon: #3f3bfb;
$governor-bay: #2d2ab7;


$electric-violet: #6236fb;
$stratos: #001147;

$heliotrope: #d17cf7;
$pink-flamingo: #f747f2;
$royal-health: #9b2680;


$opal: #aec5c6;
$half-baked: #84c8c8;
$scarlet: #f91a06;
$rosewood: #5e0013;

$swans-down: #dcefef;
$swans-down-a: rgba(220, 239, 239, 0.8);

$green-yellow: #abff58;
$green-yellow-a: rgba(171, 255, 88, 0.5);


